<dir class="introContainer">
  <section class="introMenu">
    <img src="/images/cinema.jpg" alt="Cinema Picture" />
    <div>
      <h1>Cinema Ironhack</h1>
      <a href="/movies">Check The Movies!</a>
    </div>
  </section>
</dir>